In [3]:
import pandas as pd

In [4]:
dataframe = pd.read_csv("/content/salaries_by_college_major.csv")

In [5]:
dataframe.head()  #tail()  #sample(5)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [6]:
dataframe.shape # taille du dataset

(51, 6)

In [7]:
dataframe.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [8]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                51 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

In [10]:
dataframe.describe() # statistique descriptive

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
count,50.000000,50.00000,50.000000,50.000000
mean,44310.000000,74786.00000,43408.000000,142766.000000
std,9360.866217,16088.40386,12000.779567,27851.249267
min,34000.000000,52000.00000,26700.000000,96400.000000
25%,37050.000000,60825.00000,34825.000000,124250.000000
50%,40850.000000,72000.00000,39400.000000,145500.000000
75%,49875.000000,88750.00000,49850.000000,161750.000000
max,74300.000000,107000.00000,71900.000000,210000.000000

In [11]:
dataframe.isna().sum()

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

In [12]:
condition = dataframe['Starting Median Salary'].isna() == True
dataframe[condition]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [13]:
df = dataframe.dropna()

In [14]:
df.isna().sum()

Undergraduate Major                  0
Starting Median Salary               0
Mid-Career Median Salary             0
Mid-Career 10th Percentile Salary    0
Mid-Career 90th Percentile Salary    0
Group                                0
dtype: int64

### Highest salary

In [15]:
index_salary_highest = df["Starting Median Salary"].idxmax()
df.iloc[index_salary_highest]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

### Lowest salary

In [16]:
index_salary_lowest = df["Starting Median Salary"].idxmin()
df.iloc[index_salary_lowest,1]

np.float64(34000.0)

In [17]:
# l'ecart minimum entre les top 10 mieux payés  et le top des moins bien payés

In [18]:
ecart = df['Mid-Career 90th Percentile Salary'] - df['Mid-Career 10th Percentile Salary']

In [19]:
ecart

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

In [20]:
df['Ecart'] = ecart

/tmp/ipython-input-1655293500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ecart'] = ecart

In [21]:
# ecart =  df['Mid-Career 90th Percentile Salary'] - df['Mid-Career 10th Percentile Salary']
#df.insert(1, 'Ecart', ecart)

In [22]:
df

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,Ecart
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business,109800.0
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM,96700.0
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business,113700.0
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS,104200.0
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business,85400.0
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS,96200.0
6,Biology,38800.0,64800.0,36900.0,135000.0,STEM,98100.0
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business,108200.0
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM,122100.0
9,Chemistry,42600.0,79900.0,45300.0,148000.0,STEM,102700.0
10,Civil Engineering,53900.0,90500.0,63400.0,148000.0,STEM,84600.0
11,Communications,38100.0,70000.0,37500.0,143000.0,HASS,105500.0
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM,95900.0
13,Computer Science,55900.0,95500.0,56000.0,154000.0,STEM,98000.0
14,Construction,53700.0,88900.0,56300.0,171000.0,Business,114700.0
15,Criminal Justice,35000.0,56300.0,32200.0,107000.0,HASS,74800.0
16,Drama,35900.0,56900.0,36700.0,153000.0,HASS,116300.0
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0
18,Education,34900.0,52000.0,29300.0,102000.0,HASS,72700.0
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM,98700.0
20,English,38000.0,64700.0,33400.0,133000.0,HASS,99600.0
21,Film,37900.0,68500.0,33900.0,136000.0,HASS,102100.0
22,Finance,47900.0,88300.0,47200.0,195000.0,Business,147800.0
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business,70000.0
24,Geography,41200.0,65500.0,40000.0,132000.0,HASS,92000.0
25,Geology,43500.0,79500.0,45000.0,156000.0,STEM,111000.0
26,Graphic Design,35700.0,59800.0,36000.0,112000.0,HASS,76000.0
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business,66400.0
28,History,39200.0,71000.0,37000.0,149000.0,HASS,112000.0
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business,88500.0
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM,115900.0
31,Information Technology (IT),49100.0,74800.0,44500.0,129000.0,STEM,84500.0
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS,71300.0
33,International Relations,40900.0,80900.0,38200.0,157000.0,HASS,118800.0
34,Journalism,35600.0,66700.0,38400.0,145000.0,HASS,106600.0
35,Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0,STEM,100700.0
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business,132900.0
37,Math,45400.0,92400.0,45200.0,183000.0,STEM,137800.0
38,Mechanical Engineering,57900.0,93600.0,63700.0,163000.0,STEM,99300.0
39,Music,35900.0,55000.0,26700.0,134000.0,HASS,107300.0
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business,50700.0
41,Nutrition,39900.0,55300.0,33900.0,99200.0,HASS,65300.0
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS,132500.0
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM,57600.0
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM,122000.0
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS,126800.0
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS,95400.0
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS,66700.0
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS,87300.0
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS,65400.0

In [23]:
df.iloc[[df['Ecart'].idxmin()]]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,Ecart
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business,50700.0

In [24]:
df.sort_values('Ecart', ascending=True)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,Ecart
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business,50700.0
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM,57600.0
41,Nutrition,39900.0,55300.0,33900.0,99200.0,HASS,65300.0
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS,65400.0
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business,66400.0
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS,66700.0
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business,70000.0
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS,71300.0
18,Education,34900.0,52000.0,29300.0,102000.0,HASS,72700.0
15,Criminal Justice,35000.0,56300.0,32200.0,107000.0,HASS,74800.0
26,Graphic Design,35700.0,59800.0,36000.0,112000.0,HASS,76000.0
31,Information Technology (IT),49100.0,74800.0,44500.0,129000.0,STEM,84500.0
10,Civil Engineering,53900.0,90500.0,63400.0,148000.0,STEM,84600.0
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business,85400.0
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS,87300.0
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business,88500.0
24,Geography,41200.0,65500.0,40000.0,132000.0,HASS,92000.0
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS,95400.0
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM,95900.0
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS,96200.0
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM,96700.0
13,Computer Science,55900.0,95500.0,56000.0,154000.0,STEM,98000.0
6,Biology,38800.0,64800.0,36900.0,135000.0,STEM,98100.0
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM,98700.0
38,Mechanical Engineering,57900.0,93600.0,63700.0,163000.0,STEM,99300.0
20,English,38000.0,64700.0,33400.0,133000.0,HASS,99600.0
35,Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0,STEM,100700.0
21,Film,37900.0,68500.0,33900.0,136000.0,HASS,102100.0
9,Chemistry,42600.0,79900.0,45300.0,148000.0,STEM,102700.0
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS,104200.0
11,Communications,38100.0,70000.0,37500.0,143000.0,HASS,105500.0
34,Journalism,35600.0,66700.0,38400.0,145000.0,HASS,106600.0
39,Music,35900.0,55000.0,26700.0,134000.0,HASS,107300.0
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business,108200.0
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business,109800.0
25,Geology,43500.0,79500.0,45000.0,156000.0,STEM,111000.0
28,History,39200.0,71000.0,37000.0,149000.0,HASS,112000.0
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business,113700.0
14,Construction,53700.0,88900.0,56300.0,171000.0,Business,114700.0
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM,115900.0
16,Drama,35900.0,56900.0,36700.0,153000.0,HASS,116300.0
33,International Relations,40900.0,80900.0,38200.0,157000.0,HASS,118800.0
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM,122000.0
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM,122100.0
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS,126800.0
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS,132500.0
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business,132900.0
37,Math,45400.0,92400.0,45200.0,183000.0,STEM,137800.0
22,Finance,47900.0,88300.0,47200.0,195000.0,Business,147800.0
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0

In [25]:
grouped = df.groupby('Group')

In [26]:
grouped.mean(numeric_only=True).sort_values(by="Mid-Career 90th Percentile Salary",ascending= True)

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Ecart
Group,,,,,
HASS,37186.363636,62968.181818,34145.454545,129363.636364,95218.181818
Business,44633.333333,75083.333333,43566.666667,147525.000000,103958.333333
STEM,53862.500000,90812.500000,56025.000000,157625.000000,101600.000000

In [28]:
''' NB: Accedez à la documentation docstring d'une fonction avec cette syntaxe:
     dataframe.fonction?
'''

" NB: Accedez à la documentation docstring d'une fonction avec cette syntaxe:\n     dataframe.fonction?\n"